{% extends 'base.html.twig' %}

{% block title %}Hello Stagiaire!{% endblock %}

{% block body %}
<div class="container">   
 <h1>Liste des Stagiaires du CENADI!</h1>
    {{ form(form) }}
    <table class="table table-striped">
        <thead>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Filiere</th>
				<th>Niveau</th>
				<th>Action</th>
		</thead>
        {% for stagiaire in stagiaires %}
        {% if stagiaire.isAccept == 1 %}
            
       
        <tr>
            <td>{{stagiaire.nom|capitalize}}</td>
            <td>{{stagiaire.prenom|capitalize}}</td>
            <td>{{stagiaire.filiere|capitalize}}</td>
            <td>{{stagiaire.classe|capitalize}}</td>
            <td>
            {% for stage in stagiaire.stages %}
            <a href="{{path("app_stagiaire.evaluation", {id:stage.id})}}">Rapport</a>
            <a href="{{path("app_stagiaire.stage", {id:stage.id})}}">fiche</a>
             {% endfor %}
            </td>
        </tr>
        
          {% endif %}   
        {% endfor %}

    
    
    
    
   



    </table>

</div>
{% endblock %}
